{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-extension.min.css' %}">

    <title>Pyriodic Table of Elements</title>
  </head>
  <body>
    <div class="container">
      <nav class="navbar fixed-top bg-dark">  
        <a class="navbar-brand" href="{% url 'periodictable:index' %}">Pyriodic Table of the Elements</a>
      </nav>            
    </div>
    <div class="content container ml-0 container-fluid">
        <br><br><br>
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div> <!--col-md-8-->
        </div><!--row-->
      </div> <!--content container-->
    <!-- jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>