{% extends 'periodictable/base.html' %}
{% load dicthash %}
{% load i18n %}

{% block content %}
    <table class="table table-borderless" style="width: 5rem; background-color: {{ type_colors|hash:element.elem_type }};">
      <tbody>
        <tr>
          <td>
            <h3>{{ element.atomic_number }}</h3>
            <h1>{{ element.symbol }}</h1>
            <h4>{{ element.name }}</h2>  
          </td>
        </tr>
      </tbody>
    </table>
    
    <table class="table table-borderless">
      <tbody>
          <tr>
            <td><b>{% translate "label_atomic_number" %}</b></td>
            <td>{{ element.atomic_number }}</td>
          </tr>
          <tr>
            <td><b>{% translate "label_period" %}</b></td>
            <td>{{ element.period }}</td>
          </tr>
          <tr>
            <td><b>{% translate "label_group" %}</b></td>
            <td>{{ element.group }}</td>
          </tr>
          <tr>
            <td><b>{% translate "label_phase" %}</b></td>
            <td>{{ element.phase }}</td>
          </tr>
          <tr>
            <td><b>{% translate "label_type" %}</b></td>
            <td>{{ element.elem_type }}</td>
          </tr>
      </tbody>
    </table>

    <a href="{% url 'periodictable:index' %}" class="btn btn-primary">{% translate "go_back" %}</a>
{% endblock %}